#root {
  margin: 0;
  text-align: center;
}

p {
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pokemon-image {
    width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  background-color: #141831;
}

.navbar-item {
  display: flex;
  gap: 1em;
  align-items: center;
}

.select-card {
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1e2f8b;
  overflow: visible;
  z-index: 10;
  opacity: 1; 
  visibility: visible;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.select-card.fade-out {
  opacity: 0; 
  visibility: hidden;
}

.card-container {
  background-color: #000000b6;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  visibility: hidden;
}

.score-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: fit-content;
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1e2f8b;
  overflow: visible;
  z-index: 10;
}

.score-card>form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #ccc;
}